
.projects-container > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100vh;
  }
  .card {
    margin: 1rem;
    width: 25rem;
    box-shadow: 0 2px 5px; // Une ombre portée légère pour faire ressortir les cartes
    height:fit-content;

    .card-img-top {
      height: 180px;
      object-fit: content;
    }

    .card-body {
      .card-title {
        font-size: 1.25rem;
      }

      .card-text {
        font-size: 0.9rem;
        margin-top: 0.5rem;
      }

      .card-link {
        
        &:hover {
          
          text-decoration: none;
        }
      }
    }
  }

