.projects-container > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: max-content;
  text-align: center;
}

@media (min-width: 769px) {
  .projects-container > div {
    height: max-content;
  }
}

.card {
  margin: 1rem;
  width: 50rem;
  box-shadow: 0 2px 5px; // Une ombre portée légère pour faire ressortir les cartes
  height: fit-content;

  .card-img-top {
    height: 250px;
    object-fit: cover;
    width: 100%;
  }

  .card-body {
    .card-title {
      font-size: 1.25rem;
      font-style: oblique;
      font-weight: bold;
      text-align: center;
    }

    .card-text {
      font-size: 0.9rem;
      margin-top: 0.5rem;
      text-align: center;
      

      @media (max-width: 768px) {
        font-size: 12px;
    }
  }

    .card-link {
      font-size: 15px;
      font-weight: bold;
      &:hover {
        text-decoration: none;
        
      }
    }
  }
}

@media (max-width: 768px) {
  .projects-container {
    flex-direction: column;
    align-items: center;
    height: max-content;

    div {
      width: 100%;
    }

    .card-img-top {
      height: 180px;
      object-fit: cover;
      width: 100%;
    }

    
  }
  
}
