
.projects-container > div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto; /* Valeur par défaut pour les petits écrans */
}

@media (min-width: 769px) {
  .projects-container > div {
    height: 100vh; /* Hauteur fixe pour les écrans plus grands */
  }
}

  .card {
    margin: 1rem;
    width: 25rem;
    box-shadow: 0 2px 5px; // Une ombre portée légère pour faire ressortir les cartes
    height:fit-content;

    .card-img-top {
      height: 180px;
      object-fit: cover; 
      width: 100%; 
    }

    .card-body {
      .card-title {
        font-size: 1.25rem;
        font-style: oblique;
        font-weight: bold;
      }

      .card-text {
        font-size: 0.9rem;
        margin-top: 0.5rem;
      }

      .card-link {
        
        &:hover {
          
          text-decoration: none;
        }
      }
    }
  }

   @media (max-width: 768px) {
      .skills-container {
        flex-direction: column;
        align-items: center;
        height: 100vh;
  
        div {
          width: 80%; // Augmente la largeur des listes sur les petits écrans
        }
      }
    }

