.skills-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgb(231, 229, 227);
  height: 100vh;

  @media (max-width: 768px) {
   
    height: 110vh;
}
}

.box-card {
  display: flex;
  flex-direction: row;

  
  background-color: rgb(231, 229, 227);

  .div {
    width: 30%;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    height: 100vh;

    div {
      width: 80%; // Ajuste la largeur des cartes pour qu'elles s'adaptent mieux
      margin: 10px 0; // Espacement vertical pour ne pas déborder sur l'élément suivant
    }
  }
}

.card {
  margin: 1rem;
  width: 25rem;
  box-shadow: 0 2px 5px; // Ombre portée pour le relief
  height: fit-content; // S'adapte au contenu de la carte
  background-color: white;

  @media (max-width: 768px) {
    width: 80%; // Ajustement de la largeur en responsive
  }
}

ul {
  list-style: none;
  padding-left: 1rem;
}

li {
  display: flex;
  align-items: center;
  font-style: italic;
  font-weight: bold;
  gap: 1rem;
  padding-bottom: 5px;
  

  img {
    margin-right: 30px;
    width: 70px;
    height: auto;
    padding-bottom: 1rem;

    @media (max-width: 768px) {
      width: 30px;
      margin-right: 10px;
      padding-bottom: 0;
    }
  }
}
