@import "../../sass/utils/variables.scss";

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .bio {
    flex: 1;
    
    text-align: center;
    color: black;

    h2 {
      margin-bottom: 15px;
    }

    p {
      font-size: 30px;
      font-style: italic;
    }
  }

  .image-container {
    flex: 1;
    justify-content: center;

    img {
      max-width: 350px;
      height: auto;
      border-radius: 10px;
      animation: slideInFromRight 2s ease-out;
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
    padding-top: 14%;

    .image-container {
      margin-bottom: 20px;

      img {
        max-width: 200px;
        height: auto;
        border-radius: 10px;
      }
    }

     .bio p {
      font-size: 20px;
      font-style: italic;
  }
  }
}


  @keyframes slideInFromRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
 
}
