@import "../../sass/utils/variables.scss";

.start-container {
  height: 100vh; // Hauteur de l'écran complet
  background-size: cover !important;
  background-position: center !important;
  display: flex;
  justify-content: center;
  align-items: center;
  

  .bio {
    color: black;// Couleur du texte
    text-align:left;
    font-size: 30px;
  }
}