@import "../../sass/utils/variables.scss";

.start-container {
  height: 100vh; // Hauteur de l'écran complet
  background-size: cover !important;
  background-position: center !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  color: black; // Couleur du texte
  text-align: left;
  font-size: 30px;
  padding-right: 10rem;

 
}
@media screen and (max-width: 767px) {
  .start-container {
    
    padding-right: 0rem; /* Hauteur fixe pour les écrans plus grands */
    text-align: center;
    font-size: 25px;
   
  }
}