@import "../../sass/utils/variables.scss";

.header {
  display: flex;
  align-items: center;
  color: $color-secondary;
  background-color: $background-header;
  gap: 2rem;
  font-size: 25px;
  :hover {
    text-decoration: underline;
  }

  @media screen and (max-width: 767px) {
    font-size: 15px;
    text-transform: uppercase;
  }
}
