@import "../../sass/utils/variables.scss";

.header {
  display: flex;
  align-items: center;
  margin: 4vh 8vh 5vh 8vh;
  grid-gap: 2rem;
  gap: 2rem;
  font-size: 25px;

  @media screen and (max-width: 767px) {
    font-size: 15px;
    text-transform: uppercase;
  }

  & > *:first-child {
    margin-right: auto;
  }
  & a {
    text-decoration: none;
    color: $color-primary;
    &.active,
    &:hover {
      text-decoration: underline;
    }
  }

  .header_logo {
    img {
      @media screen and (max-width: 767px) {
        width: 145px;
        height: 47px;
      }
    }
  }
}