@import "../../sass/utils/variables.scss";

.footer {
  background-color: $background-dark;
  color: $color-secondary;
  padding: 20px;
  text-align: center;
  height: 10rem;
  display: grid;
  margin-top: 3rem;
  margin-bottom: 0;
  gap: 20px;
  place-items: center;
  box-sizing: border-box;
  
}